[Unit]
Description=A service to run grafana in a podman container
Wants=network-online.target
After=network-online.target prometheus.service 
Requires=prometheus.service

[Container]
ContainerName=Rampage-grafana
Image=docker.io/grafana/grafana:latest
PublishPort=3001:3000
Volume=grafana-storage:/var/lib/grafana
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target