[Unit]
Description=A service to run ollama in a podman container
Wants=network-online.target
After=network-online.target nvidia-cdi-setup.service
Requires=nvidia-cdi-setup.service

[Container]
ContainerName=Rampage-ollama
Image=docker.io/ollama/ollama:latest
PodmanArgs=--gpus all
PublishPort=11434:11434
Volume=ollama:/root/.ollama
AutoUpdate=local

[Service]
Restart=always
ExecStartPre=/home/codeuh/dev/quadlets/Fedora/gpu-ready.sh

[Install]
WantedBy=multi-user.target default.target