[Unit]
Description=A service to run podman-streamlit in a podman container
Wants=network-online.target
After=network-online.target podman.socket
Requires=podman.socket

[Container]
ContainerName=Rampage-podman-streamlit
Image=ghcr.io/codeuh/podman-streamlit:main
PublishPort=8502:8501
AutoUpdate=local
Volume=/run/podman/podman.sock:/run/user/1000/podman/podman.sock

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target