[Unit]
Description=A service to run prometheus in a podman container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=Rampage-prometheus
Image=docker.io/prom/prometheus:latest
PublishPort=7070:9090
Volume=prometheus-storage:/prometheus
Volume=/home/codeuh/dev/podmanaut/prometheus/config.yml:/etc/prometheus/prometheus.yml:Z
AutoUpdate=local
Exec=--web.enable-remote-write-receiver --enable-feature=native-histograms --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target