[Unit]
Description=A service to run rustdesk hbbs in a podman container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=Rampage-rustdesk-hbbs
AutoUpdate=registry
Image=ghcr.io/rustdesk/rustdesk-server:latest
Exec=hbbs
Volume=rustdesk-server-data:/root
Network=host

[Service]
Restart=always

[Install]
WantedBy=default.target
