[Unit]
Description=A service to run searxng in a podman container
Wants=network-online.target

[Container]
ContainerName=Rampage-searxng
Image=docker.io/searxng/searxng:latest
PublishPort=9000:8080
Environment=BASE_URL=http://localhost:9000
Environment=INSTANCE_NAME=codeuhs-instance
Volume=/home/codeuh/dev/podmanaut/searxng:/etc/searxng

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target