[Unit]
Description=nginx-image timer to update related podman container image.

[Timer]
OnCalendar=*:0/2
RandomizedDelaySec=900

[Install]
WantedBy=timers.target