[Unit]
Description=nginx-image timer to update related podman container image.

[Timer]
OnCalendar=daily
RandomizedDelaySec=900

[Install]
WantedBy=timers.target