[Unit]
Description=ollama-image timer to update related podman container image.

[Timer]
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=900

[Install]
WantedBy=timers.target