[Unit]
Description=A service to run bitcoin-dashboard in a podman container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=bitcoin-dashboard
Image=localhost/bitcoin-dashboard:latest
PublishPort=5000:8080
Secret=COINMARKETCAP_APIKEY,type=env
Secret=NEO4J_URI,type=env
Secret=NEO4J_USERNAME,type=env
Secret=NEO4J_PASSWORD,type=env
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target