[Unit]
Description=A service to run neo4j in a podman container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=neo4j
Image=docker.io/neo4j:latest
PublishPort=7474:7474
PublishPort=7687:7687
Volume=neo4j-data:/data
Volume=neo4j-logs:/logs
Volume=/home/codeuh/dev/podmanaut/neo4j/neo4j.conf:/etc/neo4j/conf/neo4j.conf
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target