[Unit]
Description=A service to run open-webui in a podman container
Wants=network-online.target
After=network-online.target ollama.service 
Requires=ollama.service

[Container]
ContainerName=open-webui
Image=ghcr.io/open-webui/open-webui:main
PublishPort=3000:8080
Volume=open-webui:/app/backend/data
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target