[Unit]
Description=A service to run rustdesk-hbbs in a podman container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=rustdesk-hbbs
Image=ghcr.io/rustdesk/rustdesk-server:latest
Exec=hbbs
Volume=rustdesk-data:/root
Network=host
AutoUpdate=local

[Service]
Restart=always