[Unit]
Description=A service to run rustdesk-hbbr in a podman container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=rustdesk-hbbr
Image=ghcr.io/rustdesk/rustdesk-server:latest
Exec=hbbr
Volume=rustdesk-data:/root
Network=host
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target