[Unit]
Description=alloy timer to update related podman container image.

[Timer]
OnCalendar=*-*-* 08:00:00
RandomizedDelaySec=900

[Install]
WantedBy=timers.target