[Unit]
Description=neo4j-image timer to update related podman container image.

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=900

[Install]
WantedBy=timers.target