[Unit]
Description=A service to run prometheus podman exporter in a podman container
After=network.target podman.socket
Requires=podman.socket

[Container]
ContainerName=prometheus-podman-exporter
Environment=CONTAINER_HOST=unix:///run/user/1000/podman/podman.sock
Exec=--collector.enable-all
Image=quay.io/navidys/prometheus-podman-exporter
PublishPort=9882:9882
SecurityLabelDisable=true
User=root
Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target